{
    "default_host": "http://www.portalinmobiliario.com",
    "sizes": {
        "tiny": {
            "width": 320, "height": 480
        },
        "small": {
            "width": 768, "height": 1024
        },
        "normal": {
            "width": 1024, "height": 768
        },
        "large": {
            "width": 1220, "height": 800
        }
    },
    "datasets": {
        "portal": {
            "home": "/",
            "ficha-propiedad": {
                "reference": "/this-page",
                "compare": "/another-page"
            }
        }
    }
}
